In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn 
from sklearn.model_selection import train_test_split

In [45]:
df = pd.read_excel(r'C:\Users\User\Desktop\project for BYLC\Data\MT_data.xlsx')
df

,Timestamp,Email Address,Your current status :,Your Educational background,Your Gender,Your age group,"Are you familiar with the term ""Medical Transcription""?","If yes, how do you know about Medical Transcription?",Have you ever taken any sort of medical transcription services?,"If yes, kindly share your experience with us",Would you like to avail Medical Transcription services if and when necessary?,"If you answered ""No"" to the previous question, please explain why. Otherwise write ""N/A""",Do you think Medical Transcription services will help the doctors and the healthcare sector of our country?,Would you take Medical Transcription as a Career opportunity?,"Please justify your previous answer, why you would or would not consider joining the MT industry","If you would like to join the MT industry, which shift would you like to work in",Can you give us a suggestion on how to establish or improve the MT industry in Bangladesh?
0,2021-09-01 00:17:28.858,NaN,No,BBA,NaN,NaN,Yes,NaN,NaN,NaN,Yes,NaN,Yes,NaN,NaN,NaN,NaN
1,2021-09-01 22:00:34.245,NaN,Student,CSE,Male,18 to 25,Yes,From this survey,No,"Yes, it's extremely useful",Yes,NaN,Yes,Yes,.....,Day,...
2,2021-09-01 23:11:18.767,18201011@uap-bd.edu,Student,CSE,Female,18 to 25,Yes,Social Media,No,"No, I have not",Yes,.,Yes,Maybe,.,Day,NaN
3,2021-09-01 23:12:28.831,18201055@uap-bd.edu,Student,CSE,Male,18 to 25,Yes,From this survey,No,"No, I have not",Yes,Answered Yes,Yes,Yes,can be both in health-care industry and IT ind...,Day,NaN
4,2021-09-01 23:21:20.024,aminoor075@gmail.com,Student,BBA,Male,Under 18,No,Social Media,Yes,"No, I have not",No,Because i want to provide service.,Maybe,No,Because i am dedicated enough to take proper R...,Night,By giving chance to the youth.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2021-09-03 08:42:51.507,loveraj.sybr@gmail.com,Job seeker,Engineering,Male,25 to 35,Yes,BDJobs Job Listing,No,"No, I have not",Maybe,NaN,Maybe,Maybe,.,Day,Fluidity and Synchroization between doctors an...
102,2021-09-03 10:59:22.409,hasanujjamanrabby000@gmail.com,Student,BBA,Male,18 to 25,No,From this survey,No,"No, I have not",Yes,NaN,Yes,No,Don't like pursuing any medical related career,Day,No idea
103,2021-09-03 11:01:47.162,samiulislammazumder69@gmail.com,Job seeker,BBA,Male,18 to 25,Maybe,Social Media,No,"No, I have not",Yes,NaN,Yes,Maybe,It has a growing potential and is useful in sa...,Day,Try to integrate existing top medical practiti...
104,2021-09-03 11:37:15.787,foysalpurbo@gmail.com,Job holder,MSS,Male,25 to 35,Yes,Internet/Website,No,"No, I have not",Yes,NaN,Yes,No,I am happy with my current job sector,Day,NaN
105,2021-09-03 11:48:55.016,rafiar420@gmail.com,Student,SSC,Male,18 to 25,No,From this survey,No,"No, I have not",No,I don't know what Medical Transcription is.,Yes,Yes,Money of course,Day,I have no idea

In [46]:
df.drop(df.columns[[0,1,3, 7, 9, 11, 14, 15]], axis=1, inplace=True)

In [47]:
df.drop(df.index[0], inplace=True)

In [48]:
df.rename(columns = {'Your current status :':'Status','Your Educational background':'Background'
                   ,'Your Gender':'Gender','Your age group':'Age' 
                    ,'Are you familiar with the term "Medical Transcription"?':'Familiarity'
                    ,'Have you ever taken any sort of medical transcription services?':'Service taken'
                    ,'Would you like to avail Medical Transcription services if and when necessary?':'Avail MT Service'
                    ,'Do you think Medical Transcription services will help the doctors and the healthcare sector of our country?':'Impact On Doctor Healthcare'
                    ,'Would you take Medical Transcription as a Career opportunity?':'MT Carrer Opportunity'
                    ,'If you would like to join the MT industry, which shift would you like to work in':'Joining Shift'
                    },inplace = True)

In [49]:
df.drop(df.columns[[0,5,7,8]], axis=1, inplace=True)

In [50]:
df['Familiarity'].unique()

array(['Yes', 'No', 'Maybe'], dtype=object)

In [51]:
df['Age']=df['Age'].replace({'18 to 25':'18-25','Under 18':'<18','25 to 35':'25-35'})
df['Familiarity']=df['Familiarity'].replace({'Maybe':'Somewhat'})
df

     Gender    Age Familiarity Service taken Impact On Doctor Healthcare
1      Male  18-25         Yes            No                         Yes
2    Female  18-25         Yes            No                         Yes
3      Male  18-25         Yes            No                         Yes
4      Male    <18          No           Yes                       Maybe
5      Male  18-25         Yes           Yes                         Yes
..      ...    ...         ...           ...                         ...
101    Male  25-35         Yes            No                       Maybe
102    Male  18-25          No            No                         Yes
103    Male  18-25    Somewhat            No                         Yes
104    Male  25-35         Yes            No                         Yes
105    Male  18-25          No            No                         Yes

[105 rows x 5 columns]

## For AGE labelencoding

In [52]:
df["Impact On Doctor Healthcare"].replace({"Maybe": "Yes"}, inplace=True)
df["Familiarity"].replace({"Somewhat": "Yes"}, inplace=True)

## labelencoding part

In [53]:
X = df.iloc[:,:-2]
y = df.iloc[:,3]
z = df.iloc[:,4]

In [54]:
X

     Gender    Age Familiarity
1      Male  18-25         Yes
2    Female  18-25         Yes
3      Male  18-25         Yes
4      Male    <18          No
5      Male  18-25         Yes
..      ...    ...         ...
101    Male  25-35         Yes
102    Male  18-25          No
103    Male  18-25         Yes
104    Male  25-35         Yes
105    Male  18-25          No

[105 rows x 3 columns]

In [55]:
y

1       No
2       No
3       No
4      Yes
5      Yes
      ...
101     No
102     No
103     No
104     No
105     No
Name: Service taken, Length: 105, dtype: object

In [56]:
z

1      Yes
2      Yes
3      Yes
4      Yes
5      Yes
      ...
101    Yes
102    Yes
103    Yes
104    Yes
105    Yes
Name: Impact On Doctor Healthcare, Length: 105, dtype: object

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
le = LabelEncoder()

In [59]:
X = X.apply(LabelEncoder().fit_transform)

In [60]:
X

     Gender  Age  Familiarity
1         1    0            1
2         0    0            1
3         1    0            1
4         1    2            0
5         1    0            1
..      ...  ...          ...
101       1    1            1
102       1    0            0
103       1    0            1
104       1    1            1
105       1    0            0

[105 rows x 3 columns]

### End of Labelcoding

# Decision tree

## Prediction for Service taken

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
dfs = DecisionTreeClassifier()

In [63]:
dfs.fit(X.iloc[:,0:3],y)

DecisionTreeClassifier()

In [64]:
xinput = np.array([2,1,2])

In [65]:
y_predict = dfs.predict([xinput])

In [66]:
y_predict

array(['No'], dtype=object)

### End of Service taken

# Prediction for Impact On Doctor Healthcare

In [67]:
dfs.fit(X.iloc[:,0:3],z)

DecisionTreeClassifier()

In [68]:
Impact_On_Heathcare = np.array([2,1,2])

In [69]:
z_predict = dfs.predict([Impact_On_Heathcare])

In [70]:
z_predict

array(['Yes'], dtype=object)

### End of prediction for Impact On Doctor Healthcare

## Accuracy for Decision tree

## Accuracy of Decision tree algo for Service taken

In [71]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .3, random_state=25)

In [72]:
from sklearn.metrics import confusion_matrix
import sklearn.metrics as metrics

In [73]:
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train) 
dtree_predictions = dtree_model.predict(X_test) 
### creating a confusion matrix 
cm = confusion_matrix(y_test, dtree_predictions) 
print("Accuracy:",metrics.accuracy_score(y_test, dtree_predictions))

Accuracy: 0.8125

## Accuracy of Decision tree algo for Impact On Doctor Healthcare

In [74]:
X_train,X_test,z_train,z_test = train_test_split(X,z,test_size = .3, random_state=25)

In [75]:
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, z_train) 
dtree_predictions = dtree_model.predict(X_test) 
### creating a confusion matrix 
cm = confusion_matrix(y_test, dtree_predictions) 
print("Accuracy:",metrics.accuracy_score(z_test, dtree_predictions))

Accuracy: 1.0

### End of Decision tree

## Some more data processing

In [76]:
dfk = df.apply(LabelEncoder().fit_transform)

In [77]:
dfk

     Gender  Age  Familiarity  Service taken  Impact On Doctor Healthcare
1         1    0            1              0                            1
2         0    0            1              0                            1
3         1    0            1              0                            1
4         1    2            0              1                            1
5         1    0            1              1                            1
..      ...  ...          ...            ...                          ...
101       1    1            1              0                            1
102       1    0            0              0                            1
103       1    0            1              0                            1
104       1    1            1              0                            1
105       1    0            0              0                            1

[105 rows x 5 columns]

In [78]:
m = dfk.iloc[:,3]
n = dfk.iloc[:,4]

In [79]:
m

1      0
2      0
3      0
4      1
5      1
      ..
101    0
102    0
103    0
104    0
105    0
Name: Service taken, Length: 105, dtype: int32

# SVM Algorithm

## Accuracy of SVM for Service taken

In [80]:
X_train,X_test,m_train,m_test = train_test_split(X,m,test_size = .3, random_state=25)

In [81]:
# training a linear SVM classifier 
from sklearn.svm import SVC 
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_train, m_train) 
svm_predictions = svm_model_linear.predict(X_test) 
# model accuracy for X_test   
accuracy = svm_model_linear.score(X_test, m_test)

In [82]:
# creating a confusion matrix 
cm = confusion_matrix(m_test, svm_predictions) 
print("Accuracy:",metrics.accuracy_score(m_test, svm_predictions))

Accuracy: 0.8125

## Accuracy of SVM for Impact On Doctor Healthcare

In [83]:
X_train,X_test,n_train,n_test = train_test_split(X,n,test_size = .3, random_state=25)

In [84]:
# training a linear SVM classifier 
from sklearn.svm import SVC 
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_train, n_train) 
svm_predictions = svm_model_linear.predict(X_test) 
# model accuracy for X_test   
accuracy = svm_model_linear.score(X_test, n_test) 

# creating a confusion matrix 
cm = confusion_matrix(n_test, svm_predictions) 
print("Accuracy:",metrics.accuracy_score(n_test, svm_predictions))

Accuracy: 1.0

### End of SVM

# KNN ALgorithm

## Accuracy of KNN for Service taken

In [85]:
### training a KNN classifier 
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors = 3).fit(X_train, m_train) 
### accuracy on X_test 
accuracy = knn.score(X_test, m_test) 
### creating a confusion matrix 
knn_predictions = knn.predict(X_test)  
cm = confusion_matrix(m_test, knn_predictions) 
print("Accuracy:",metrics.accuracy_score(m_test, knn_predictions))

Accuracy: 0.53125

## Accuracy of KNN for Impact On Doctor Healthcare

In [86]:
knn = KNeighborsClassifier(n_neighbors = 3).fit(X_train,n_train) 
### accuracy on X_test 
accuracy = knn.score(X_test, n_test) 
### creating a confusion matrix 
knn_predictions = knn.predict(X_test)  
cm = confusion_matrix(n_test, knn_predictions) 
print("Accuracy:",metrics.accuracy_score(n_test, knn_predictions))

Accuracy: 1.0

### End of KNN